<!DOCTYPE html>

<html>
<head>
<title></title>
</head>
<body>
<form action="/" method="post">
    <input type="datetime-local" id="bed_time" name="bed_time"></input><br/>
    <input type="datetime-local" id="wake_time" name="wake_time"></input><br/>
    <input type="text" id="quality" name="quality"></input>
    <input type="submit" value="Sumbit Sleep">
</form>
</body>

</html>